testcases/
dataset/
prims/
templates/
blocks/
train_data/
*.sav
prims_without_staff/
output/
heads/
dataset
folder/
.ipynb_checkpoints
__pycache__
.vscode
trained_models/knn_trained_model_raw.sav
trained_models/